<form [formGroup]="diagnosisForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <app-autocomplete
      label="Тип диагноза"
      formControlName="diagnosisType"
      [options]="diagnosisTypes"
    >
    </app-autocomplete>

    <app-autocomplete
      label="Диагноз"
      formControlName="diagnosis"
      [options]="searchDiseases.bind(this)"
    >
    </app-autocomplete>

    <app-autocomplete
      label="Характер заболевания"
      formControlName="diseaseCharacter"
      [options]="diseaseCharacters"
    >
    </app-autocomplete>

    <app-datepicker
      formControlName="startDate"
      label="Дата с"
      [minDate]="minDate"
      [maxDate]="maxDate"
    ></app-datepicker>

    <app-datepicker
      formControlName="endDate"
      label="Дата по"
      [minDate]="minDate"
      [maxDate]="maxDate"
    ></app-datepicker>
  </div>

  <div class="form-row">
    <app-autocomplete
      label="Диспансерный учет"
      formControlName="dispensaryAccount"
      [options]="dispensaryAccounts"
    >
    </app-autocomplete>

    <mat-form-field appearance="fill">
      <mat-label>Травма</mat-label>
      <input matInput formControlName="trauma" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Внешняя причина</mat-label>
      <input matInput formControlName="externalCause" />
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="fill">
      <mat-label>Клинический диагноз</mat-label>
      <input matInput formControlName="clinicalDiagnosis" />
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="fill">
      <mat-label>Комментарий</mat-label>
      <input matInput formControlName="comment" />
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" type="submit">Сохранить</button>
</form>
