<mat-form-field appearance="fill">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [formControl]="control"
    [matAutocomplete]="auto"
  />
  <button
    *ngIf="control.value"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="clear()"
  >
    <mat-icon>close</mat-icon>
  </button>
  <button
    matSuffix
    mat-icon-button
    aria-label="Open"
    (click)="openAutocomplete()"
  >
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option
      *ngFor="let option of filteredOptions$ | async"
      [value]="option.formattedValue"
    >
      {{ option.formattedValue }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
